{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Just Data</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="Just Movies, Movies, Actors, Directors, Ratings, Analytics">
    <meta name="description" content="Just Movies is just about movies. Our analytics may interest you.">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}" />
    <!-- bootflat stuffs -->
    <link rel="stylesheet" href="{% static "bootflat/css/site.min.css" %}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static "bootflat/js/site.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <script type="text/javascript" src="{% static "js/Chart.bundle.min.js" %}"></script>
    <!-- just movies stuffs -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/data_stats.css" %}">
</head>

<body class="home">
    <div class="docs-header">
        <!--nav-->
        <nav class="navbar navbar-default navbar-custom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
              <img src="{% static "logo.svg" %}" height="40">
            </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link" href="{% url 'movies' %}">Movies</a></li>
                        <li><a class="nav-link" href="{% url 'people' %}">People</a></li>
                        <li><a class="nav-link" href="{% url 'data' %}">Data</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--index-->
        <div class="index">
            <div class="container">
                <h1>Just Data, Clearly.</h1>
            </div>
        </div>
        <!-- Movies ================================================== -->
        <div class="container">
            <div class="panel panel-just-dashed">
                <div class="panel-body">
                    <div class="stats-wrapper">
                        <div class="stat-box">
                            <a class="dashboard-stat red" href="#">
                                <div class="visual">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span>{{ general.moviesCount|intcomma }}</span>
                                    </div>
                                    <div class="stat-description">Movies</div>
                                </div>
                            </a>
                        </div>
                        <div class="stat-box">
                            <a class="dashboard-stat blue" href="#">
                                <div class="visual">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span>{{ general.totalPeople|intcomma }}</span>
                                    </div>
                                    <div class="stat-description">Celebrities</div>
                                </div>
                            </a>
                        </div>
                        <div class="stat-box">
                            <a class="dashboard-stat hoki" href="#">
                                <div class="visual">
                                    <i class="fa fa-usd"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span>${{ general.moviesBudget|intcomma }} M</span>
                                    </div>
                                    <div class="stat-description">Net Worth</div>
                                </div>
                            </a>
                        </div>
                        <div class="stat-box">
                            <a class="dashboard-stat purple" href="#">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span>{{ general.totalReviews|intcomma }}</span>
                                    </div>
                                    <div class="stat-description">Reviews</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {{ celebrityRoleDistribution }}
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <canvas id="countDistByGenre" width="400" height="425"></canvas>
                        </div>
                        <div class="col-md-4">
                            <canvas id="countDistByCountry" width="400" height="400"></canvas>
                        </div>
                        <div class="col-md-4">
                            <canvas id="countDistByLanguage" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <canvas id="budgetDistByGenre" width="400" height="425"></canvas>
                        </div>
                        <div class="col-md-4">
                            <canvas id="budgetDistByCountry" width="400" height="400"></canvas>
                        </div>
                        <div class="col-md-4">
                            <canvas id="budgetDistByLanguage" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <canvas id="budgetDistByYear" width="400" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-->
            <div class="site-footer">
                <div class="container">
                    <div class="copyright clearfix">
                        <p>
                            <b>Just Movies.</b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'movies' %}">Movies</a>&nbsp;&bull;&nbsp;
                            <a href="{% url 'people' %}">People</a>&nbsp;&bull;&nbsp;
                            <a href="{% url 'data' %}">Data</a>
                        </p>
                        <p>A Database Systems (TAMU CSCE 608) course project developed by Shashwat Shashi Mehta. UIN: <b>827008698</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        ctx = document.getElementById("countDistByGenre").getContext('2d');
        countDistByGenreChart = new Chart(ctx, {
            type: 'pie',
            data: {{ countDistByGenre | safe }},
            options: {
                title: {
                    display: true,
                    text: 'Movies by Genre'
                },
                legend: {
                    display: true,
                    position: "bottom"
                }
            }
        });

        ctx = document.getElementById("countDistByCountry").getContext('2d');
        countDistByCountryChart = new Chart(ctx, {
            type: 'pie',
            data: {{ countDistByCountry | safe }},
            options: {
                title: {
                    display: true,
                    text: 'Movies by Country'
                },
                legend: {
                    display: true,
                    position: "bottom"
                }
            }
        });

        ctx = document.getElementById("countDistByLanguage").getContext('2d');
        countDistByLanguageChart = new Chart(ctx, {
            type: 'pie',
            data: {{ countDistByLanguage | safe }},
            options: {
                title: {
                    display: true,
                    text: 'Movies by Language'
                },
                legend: {
                    display: true,
                    position: "bottom"
                }
            }
        });

        ctx = document.getElementById("budgetDistByGenre").getContext('2d');
        budgetDistByGenreChart = new Chart(ctx, {
            type: 'pie',
            data: {{ budgetDistByGenre | safe }},
            options: {
                title: {
                    display: true,
                    text: 'Budget by Genre'
                },
                legend: {
                    display: true,
                    position: "bottom"
                }
            }
        });

        ctx = document.getElementById("budgetDistByCountry").getContext('2d');
        budgetDistByCountryChart = new Chart(ctx, {
            type: 'pie',
            data: {{ budgetDistByCountry | safe }},
            options: {
                title: {
                    display: true,
                    text: 'Budget by Country'
                },
                legend: {
                    display: true,
                    position: "bottom"
                }
            }
        });

        ctx = document.getElementById("budgetDistByLanguage").getContext('2d');
        budgetDistByLanguageChart = new Chart(ctx, {
            type: 'pie',
            data: {{ budgetDistByLanguage | safe }},
            options: {
                title: {
                    display: true,
                    text: 'Budget by Language'
                },
                legend: {
                    display: true,
                    position: "bottom"
                }
            }
        });


        ctx = document.getElementById("budgetDistByYear").getContext('2d');
        budgetDistByYear = new Chart(ctx, {
            type: 'bar',
            data: {{ budgetDistByYear | safe }},
            options: {
                title: {
                    display: true,
                    text: 'Budget by Year'
                },
                legend: {
                    display: false
                }}
        });
    </script>
</body>

</html>