{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Just Movies</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="Just Movies, Movies, Actors, Directors, Ratings, Analytics">
	  <meta name="description" content="Just Movies is just about movies. Our analytics may interest you.">
    
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}"/>
    
    <!-- bootflat stuffs -->
    <link rel="stylesheet" href="{% static "bootflat/css/site.min.css" %}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static "bootflat/js/site.min.js" %}"></script>

    <!-- just movies stuffs -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
  </head>
  <body class="home">
    <div class="docs-header">
      <!--nav-->
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="{% static "logo.svg" %}" height="40">
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="{% url 'movies' %}">Movies</a></li>
              <li><a class="nav-link" href="{% url 'people' %}">People</a></li>
              <li><a class="nav-link" href="{% url 'data' %}">Data</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!--index-->
      <div class="index">
        <div class="container">
          <h1>Just Movies, Simply.</h1>
        </div>
      </div>
      <!-- Movies ================================================== -->
      <div class="container example">
        <h2 class="filters"><!-- Filters go here --></h2>
        <div class="movies-container">
          {% for movie in movies %}
            <div class="movie">
              <div class="thumbnail">
                <img class="poster" src="{{movie.poster}}" >
                <div class="caption text-center">
                  <h3>{{movie.title}}</h3>
                </div>
                <div class="text-center">
                  <a href="https://www.imdb.com/title/{{movie.imdb_id}}" 
                     class="btn btn-default flat" role="button" target="_blank">IMDB</a>
                  <a href="#" class="btn btn-warning flat" role="button">Edit</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="row example-pagination">
          <hr class="dashed"/>
          <div class="text-right">
            <ul class="pagination">
              <li class="active"><a class="flat" href="#">PREV</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a  href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li class="disabled"><a href="#">5</a></li>
              <li class="active"><a class="flat" href="#">NEXT</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--footer-->
      <div class="site-footer">
        <div class="container">
          <div class="copyright clearfix">
          <p>
            <b>Just Movies.</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'movies' %}">Movies</a>&nbsp;&bull;&nbsp;
            <a href="{% url 'people' %}">People</a>&nbsp;&bull;&nbsp;
            <a href="{% url 'data' %}">Data</a>
          </p>
            <p>A Database Systems (TAMU CSCE 608) course project developed by Shashwat Shashi Mehta. UIN: <b>827008698</b></p>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
