{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Just Movies</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="Just Movies, Movies, Actors, Directors, Ratings, Analytics">
    <meta name="description" content="Just Movies is just about movies. Our analytics may interest you.">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}" />
    <!-- bootflat stuffs -->
    <link rel="stylesheet" href="{% static "bootflat/css/site.min.css" %}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static "bootflat/js/site.min.js" %}"></script>
    <!-- just movies stuffs -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>

<body class="home">
    <div class="docs-header">
        <!--nav-->
        <nav class="navbar navbar-default navbar-custom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
              <img src="{% static "logo.svg" %}" height="40">
            </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link" href="{% url 'movies' %}">Movies</a></li>
                        <li><a class="nav-link" href="{% url 'people' %}">People</a></li>
                        <li><a class="nav-link" href="{% url 'data' %}">Data</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--index-->
        <div class="index">
            <div class="container">
                <h1>Just Movies, Simply.</h1>
            </div>
        </div>
        <!-- Movies ================================================== -->
        <div class="container">
            <div class="panel panel-just-dashed">
                <div class="panel-heading">
                    <form action="/people" method="get">
                        <div class="filter-bar">
                            <div class="col">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name"
                                       placeholder="Name" value="{{name}}">
                            </div>
                            <div class="col" style="margin-left: auto;">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    {% if success %}
                        <table>
                        <tr>
                            <td>
                                <img src="{{ image }}" alt="">
                            </td>
                            <td style="padding: 0 20px;">
                                <h3>{{ name }}</h3>
                                <p>Born: <b>{{ dob }}</b></p>
                                <p>Roles: <b>{{ roles }}</b></p>
                                <p>{{ intro | linebreaks }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <th>
                                            <u><b>Filmography</b></u>
                                        </th>
                                    </tr>
                                    {% for involvement in involvements %}
                                        <tr>
                                            <td style="width: 50px; padding: 5px 0;">
                                                <img src="{{ involvement.poster }}" alt="" width="100%">
                                            </td>
                                            <td style="padding: 5px 10px;">
                                                <a href="">{{ involvement.title }}</a>, {{ involvement.year }} <br>
                                                <b>{{ involvement.role }}</b> <br>
                                                {{ involvement.awards }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        </table>
                    {% else %}
                        <h4 class="text-center">
                          No matches found for the provided name.
                        </h4>
                    {% endif %}
                </div>
            </div>
            <!--footer-->
            <div class="site-footer">
                <div class="container">
                    <div class="copyright clearfix">
                        <p>
                            <b>Just Movies.</b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'movies' %}">Movies</a>&nbsp;&bull;&nbsp;
                            <a href="{% url 'people' %}">People</a>&nbsp;&bull;&nbsp;
                            <a href="{% url 'data' %}">Data</a>
                        </p>
                        <p>A Database Systems (TAMU CSCE 608) course project developed by Shashwat Shashi Mehta. UIN: <b>827008698</b></p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>