.home {
    background: none;
}

.docs-header {
    height: 100%;
    min-height: 100vh;
}

.index {
    min-height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.3);
}

.index h1 {
    margin: 0;
    text-align: left;
    text-align: center;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movies-container .movie {
    width: 200px;
}

.movies-container .movie .thumbnail {
    padding: 5px;
    border-radius: 0;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movies-container .movie .thumbnail .caption > h3 {
    line-height: 2rem;
    margin: 0;
}

.movies-container .movie .thumbnail .poster {
    border: 1px solid #aaa;
}

.movies-container .movie .thumbnail .btn {
    width: 85px;
    margin-bottom: 5px;
}

.movies-container .movie .thumbnail .btn:first-child {
    margin-right: 3px;
}

.movies-container .movie .thumbnail .btn:last-child {
    margin-left: 3px;
}

.flat {
    border-radius: 0 !important;
}

.pagination > .active > a {
    background-color: #428bca;
    border-color: #428bca;
}

.pagination > .inactive > a{
    color: #aaa;
}

.unresponsive {
    pointer-events: none;
}

.filter-bar {
    display: flex;
}

.filter-bar label {
    margin: 0 0 1px 2px;
}

.filter-bar .col {
    padding: 0 7px;
}

.filter-bar button[type="submit"] {
    width: 100%;
}

.panel-just-dashed .panel-heading {
    border-bottom: 1px dotted #ddd;
}

.panel-just-dashed .panel-footer {
    border-top: 1px dotted #ddd;
    background: inherit;
}